<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="assets/img/favicon-32x32.png">
	<title>Contacto</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<div class="contenedorPadre-Contacto">
		<div class="logoContacto-grid">
			<img class="logoContacto" src="../assets/img/logo.png" alt="logo">
		</div>
		<nav class="navContacto-grid">
			<ul>
				<li class="nav__contacto"><a href="../index.html">Home</a></li>
				<li class="nav__contacto"><a href="productos.html">Productos</a></li>
				<li class="nav__contacto"><a href="promociones.html">Promociones</a></li>
				<li class="nav__contacto"><a href="nosotros.html">Nosotros</a></li>
				<li class="nav__contacto"><a href="contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<div class="tituloContacto-grid">
			<h1 class="tituloContacto">CONTACTO</h1>
		</div>
		<div class="imgContacto-grid">
			<img class="imgContacto" src="../assets/img/contacto.jpg" alt="contacto">
		</div>
		<div class="formContacto-grid">
			<form action="#">
				<input type="text" placeholder="NOMBRE COMPLETO"><br>
				<label for="email">EMAIL:
				<input type="email" placeholder="aaa@gmail.com" name="email"><br>
				</label>
				<label for="Consultas"> Consultas:<br>
				<textarea rows="6" cols="80" placeholder="Consultas"></textarea>
				</label>
				<br>
				¿Queres recibir info sobre nosotros?
				<input type="checkbox" name="acepta" value="1"></div>
				<input type="submit" value="Enviar Informacion">
				<input type="reset" value="Resetear">
			</form>
		</div>
		<footer class="footerContacto-grid">
			<h3 class="footerContacto">LOGO</h3>
			<h3 class="footerContacto">RRSS</h3>
			<h3 class="footerContacto">CONTACTO</h3>
		</footer>
	</div>
</body>
</html>