<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="assets/img/favicon-32x32.png">
	<title>Nosotros</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<div class="contenedorPadre-Nosotros">
		<div class="logoNosotros-grid">
			<img class="logoNosotros" src="../assets/img/logo.png" alt="logo">
		</div>
		<nav class="navNosotros-grid">
			<ul>
				<li class="nav__nosotros"><a href="../index.html">Home</a></li>
				<li class="nav__nosotros"><a href="productos.html">Productos</a></li>
				<li class="nav__nosotros"><a href="promociones.html">Promociones</a></li>
				<li class="nav__nosotros"><a href="nosotros.html">Nosotros</a></li>
				<li class="nav__nosotros"><a href="contacto.html">Contacto</a></li>
			</ul>
		</nav>
		<div class="tituloNosotros-grid">
			<h1>Nosotros:</h1>
		</div>
		<div class="parrafoNosotros-grid">
			<p class="parrafoNosotros">
			Somos una cadena de franquicias que tiene como principal objetivo brindar calidad en todos sus productos y cubrir todas las necesidades que surgen a la hora de organizar una fiesta o evento.
			<br>
			<br>
			Nuestra misión es ofrecer los mejores productos de fácil cocción, a precios accesibles, brindando un servicio de excelencia dentro de un ambiente limpio y agradable. La empresa se encuentra en constante innovación, incorporando nuevos productos y servicios.
			<br>
			<br>
			Nuestro sueño es poder replicar el éxito de La Hamburgueseria en todas las provincias y localidades de nuestro país, sustentado por un proyecto sólido, rentable, de fuerte sentido de referencia y pertenencia en la sociedad.
			</p>
		</div>
		<footer class="footerNosotros-grid">
			<h3 class="footerNosotros">LOGO</h3>
			<h3 class="footerNosotros">RRSS</h3>
			<h3 class="footerNosotros">CONTACTO</h3>
		</footer>
	</div>
</body>
</html>