<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Productos</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<div class="contenedorPadre-Productos">
		<div class="logoProductos-grid">
				<img class="logoProductos" src="../assets/img/logo.png" alt="logo">
		</div>
		<nav class="navProductos-grid">
				<ul>
					<li class="navProductos"><a href="../index.html">Home</a></li>
					<li class="navProductos"><a href="productos.html">Productos</a></li>
					<li class="navProductos"><a href="promociones.html">Promociones</a></li>
					<li class="navProductos"><a href="nosotros.html">Nosotros</a></li>
					<li class="navProductos"><a href="contacto.html">Contacto</a></li>
				</ul>
		</nav>
		<div class="productos-grid">
			<h2>Productos:</h2>
		</div>
			<div class="tablaProductos-grid">
				<table class="tablaProductos" border="1" cellpadding="1" cellspacing="1">
					<tr class="tablaProductos">
						<th>Codigo</th>
						<th>Nombre</th>
						<th>Valor</th>
					</tr>
					<tr class="tablaProductos">
						<td>001</td>
						<td>Medallones de carnex4</td>
						<td>$400</td>
					</tr>
					<tr class="tablaProductos">
						<td>002</td>
						<td>Salchichasx6</td>
						<td>$300</td>
					</tr>
					<tr class="tablaProductos">
						<td>003</td>
						<td>Pan medallon de carnex4</td>
						<td>$200</td>
					</tr>
					<tr class="tablaProductos">
						<td>004</td>
						<td>Pan salchichax6</td>
						<td>$150</td>
					</tr>
					<tr class="tablaProductos">
						<td>005</td>
						<td>Gaseosa chica</td>
						<td>$60</td>
					</tr>
					<tr class="tablaProductos">
						<td>006</td>
						<td>Gaseosa Grande</td>
						<td>$100</td>
					</tr>
				</table>
			</div>
		<footer class="footerProductos-grid">
			<h3 class="footerProductos">LOGO</h3>
			<h3 class="footerProductos">RRSS</h3>
			<h3 class="footerProductos">CONTACTO</h3>
		</footer>
	</div>
</body>
</html>