<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Promociones</title>
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<div class="contenedorPadre-Promociones">
		<div class="logoPromociones-grid">
				<img class="logoPromociones" src="../assets/img/logo.png" alt="logo">
		</div>
			<nav class="navPromociones-grid">
				<ul>
					<li class="nav__promociones"><a href="../index.html">Home</a></li>
					<li class="nav__promociones"><a href="productos.html">Productos</a></li>
					<li class="nav__promociones"><a href="promociones.html">Promociones</a></li>
					<li class="nav__promociones"><a href="nosotros.html">Nosotros</a></li>
					<li class="nav__promociones"><a href="contacto.html">Contacto</a></li>
				</ul>
			</nav>
		<div class="tituloPromociones-grid">
			<h2 class="tituloPromociones">Promociones:</h2>
		</div>
		<div class="tablaPromociones-grid">
			<table class="tablaPromociones" border="1" cellpadding="1" cellspacing="1">
	 			<tr class="tablaPromociones">
	   			<th>Promocion</th>
	    		<th>Productos</th>
	   			<th>Valor</th>
	  		</tr>
	 			<tr class="tablaPromociones">
	    		<th>Promocion Enero</th>
	    		<th>Medallones de carnex20+Panes para medallonesx20+Gaseosas grandesx6</th>
	    		<th>$3000</th>
	  		</tr>
	  		<tr class="tablaPromociones">
	    		<th>Promocion Febrero</th>
	    		<th>Salchichasx30+Panes para salchichasx30+Gaseosas Grandesx6</th>
	    		<th>$2500</th>
	  		</tr>
	    	<tr class="tablaPromociones">
	    		<th>Promocion Marzo</th>
	    		<th>Medallones de carnex12+Salchichasx18+Panes+Gaseosas grandesx6</th>
	    		<th>$4000</th>
	  		</tr>
			</table>
		</div>
		<footer class="footerPromociones-grid">
			<h3 class="footerPromociones">LOGO</h3>
			<h3 class="footerPromociones">RRSS</h3>
			<h3 class="footerPromociones">CONTACTO</h3>
		</footer>
	</div>
</body>
</html>